.user-message {
  text-align: right;
  background-color: #dcf8c6;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.bot-message {
  text-align: left;
  background-color: #f1f0f0;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
